numpy
torch==2.1.0
transformers
pillow
ipdb
accelerate
wandb
torchmetrics
ruff
datasets
deepspeed
packaging
peft
bitsandbytes
sentencepiece
matplotlib
faker
ipdb
openai
pdf2image
beautifulsoup4
weasyprint==52.5  # Problem with Ubuntu 20.04
click
augraphy
PyPDF2
pymupdf