.invoice-table {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.invoice-table table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-table th, .invoice-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.invoice-table th {
    background-color: #f2f2f2;
}

.invoice-table tfoot td {
    font-weight: bold;
}

.invoice-table tbody tr:nth-child(even){background-color: #f2f2f2;}
