{% from "table_macro.html" import charges_table %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/Users/arnaudstiegler/llm-table-extraction/synth_data_gen/templates/static/style.css"/> -->
    <title>Invoice</title>
    <style>{{ css|safe }}</style>
</head>
<body>
    <div class="header">
        <h2>Invoice for <span class="customerName" data-metatype="String">{{ customerName }}</span></h2>
    </div>
    <div class="billing-info">
        <h3>Billing Information</h3>
        <p><strong>Name:</strong> <span class="billingName" data-metatype="String">{{ billingName }}</span></p>
        <p><strong>Address:</strong> <span class="billingAddress" data-metatype="String">{{ billingAddress }}</span></p>
        <p><strong>Email:</strong> <span class="billingEmail" data-metatype="String">{{ billingEmail }}</span></p>
    </div>
    <div class="content">
        <p><strong>Account Number:</strong> <span class="accountNumber" data-metatype="String">{{ accountNumber }}</span></p>
        <p><strong>Invoice Date:</strong> <span class="billDate" data-metatype="Date">{{ billDate }}</span></p>
        <p><strong>Service Period:</strong> <span class="serviceStart" data-metatype="Date">{{ serviceStart }}</span> to <span class="serviceEnd" data-metatype="Date">{{ serviceEnd }}</span></p>

        <h3>Summary of Charges</h3>

        <!-- Other HTML content -->
        
        {{ charges_table(charges) }}
        
        <!-- More HTML content -->
        
    </div>
    <div class="payment-instructions">
        <h3>Payment Instructions</h3>
        <p>Please make your payment to the following account:</p>
        <p><strong>Bank:</strong> <span class="bankName" data-metatype="String">{{ bankName }}</span></p>
        <p><strong>Account Number:</strong> <span class="bankAccountNumber" data-metatype="String">{{ bankAccountNumber }}</span></p>
        <p><strong>Sort Code:</strong> <span class="sortCode" data-metatype="String">{{ sortCode }}</span></p>
        <p>Payment is due within 30 days of receiving this invoice.</p>
    </div>
    <div class="terms">
        {% set random_number = range(2) | random %}
        {% if random_number == 1 %}
            {{ terms }}
        {% endif %}
    </div>
    <div class="footer">
        <p>Thank you for your business!</p>
    </div>
</body>
</html>
