/* Webfont: ProgeludLineRegular */@font-face {
    font-family: 'ProgeludLine';
    src: url('ProgeludLine.eot'); /* IE9 Compat Modes */
    src: url('ProgeludLine.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ProgeludLine.woff') format('woff'), /* Modern Browsers */
         url('ProgeludLine.woff2') format('woff2'), /* Modern Browsers */
         url('ProgeludLine.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

