/* Webfont: ProgeludRegular */@font-face {
    font-family: 'Progelud';
    src: url('Progelud.eot'); /* IE9 Compat Modes */
    src: url('Progelud.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Progelud.woff') format('woff'), /* Modern Browsers */
         url('Progelud.woff2') format('woff2'), /* Modern Browsers */
         url('Progelud.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

