{% set num_spaces1 = range(1, 3) | random %}
{% set num_spaces2 = range(1, 3) | random %}
<div class="row">
    {% set part = kv_pairs|length // num_columns %}
    {% for num_column in range(num_columns) %}
    <div class="column" style="float:left; width:50%;">
        {% for k, v in kv_pairs[num_column*part:(num_column+1)*part] %}
        <p>
            <td>{{ k }}{{ ' ' * num_spaces1 }}{{separator}}{{ ' ' * num_spaces2 }}{{ v }}</td>
        </p>
        {% endfor %}
    </div>
    {% endfor %}
</div style="content: ''; display: table; clear: both;">