{% macro two_columns(kv_pairs) %}
{% set half = kv_pairs|length // 2 %}
<!-- {
    box-sizing: border-box;
} -->
<div class="row">
    <div class="column" style="float:left; width:50%;">
        {% for k, v in kv_pairs[:half] %}
            <p>
                <td>{{ k }}: {{v}}</td>
            </p>
            {% endfor %}
    </div>
    <div class="column" style="float:left; width:50%;">
        {% for k, v in kv_pairs[half:] %}
        <p>
            <td>{{ k }}: {{v}}</td>
        </p>
        {% endfor %}
    </div>
</div style="content: ''; display: table; clear: both;">
{% endmacro %}